  <!-- <section class="hero-3 position-relative align-items">
            <h2 class="mb-30 text-center">What are you looking for?</h2>
            <h4>explore our market</h4>
        </section> -->


        <section class="home-slider position-relative mb-30">
            <div class="home-slide-cover">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider rectangle single-animation-wrap" style="background-image: url(assets/imgs/slider/slider-5.png)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Don’t miss<br />
                                amazing deals
                            </h1>
                            <p class="mb-65">Sign up for the daily newsletter</p>
                        </div>
                    </div>
                    <div class="single-hero-slider rectangle single-animation-wrap" style="background-image: url(assets/imgs/slider/slider-6.png)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Fresh Vegetables<br />
                                Big discount
                            </h1>
                            <p class="mb-65">Save up to 50% off on your first order</p>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </section>
