
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/morzaa/Transparent-logo.png" class="logo" alt="morzaa logo" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize" (click)="toggleAsideMini()"><i class="material-icons md-menu_open"></i></button>
            </div>
        </div>

       <nav>
            <ul class="menu-aside" *ngIf="categoryTree().length > 0">
                <ng-container *ngFor="let cat of categoryTree()">
                    <li class="menu-item" [class.has-submenu]="cat.children && cat.children.length > 0">
                        <a 
                            class="menu-link" 
                            [routerLink]="!cat.children || cat.children.length == 0 ? ['/shop/category',cat.id] : null"
                        >
                            <ng-container *ngIf="cat.iconImage; else defaultIcon">
                                <img
                                    [src]="getImageSrc(cat.iconImage)"
                                    [alt]="cat.imageAltText || cat.categoryName"
                                    class="icon-img"
                                />
                            </ng-container>

                            <ng-template #defaultIcon>
                                <i class="icon material-icons md-folder"></i>
                            </ng-template>
                            <span class="text">{{ cat.categoryName }} <span *ngIf="cat.productCount>0">({{ cat.productCount }})</span></span>
                        </a>
                        <div class="submenu" *ngIf="cat.children && cat.children.length > 0">
                            <ng-container *ngFor="let sub of cat.children">
                                <div *ngIf="sub.children && sub.children.length > 0" class="submenu-group has-submenu">
                                    <a 
                                        [routerLink]="['/shop/category',sub.id]" 
                                        class="submenu-toggle"
                                    >
                                        <ng-container *ngIf="sub.iconImage; else subDefaultIcon">
                                            <img
                                                [src]="getImageSrc(sub.iconImage)"
                                                [alt]="sub.imageAltText || sub.categoryName"
                                                class="icon-img"
                                            />
                                        </ng-container>
                                        <ng-template #subDefaultIcon>
                                            <i class="icon material-icons md-folder"></i>
                                        </ng-template>
                                        <span class="text">{{ sub.categoryName }} <span *ngIf="cat.productCount>0">({{ sub.productCount }})</span></span>
                                    </a>
                                    <div class="submenu-nested">
                                    <a 
                                        *ngFor="let nested of sub.children" 
                                        [routerLink]="['/shop/category',nested.id]" 
                                    >
                                        <ng-container *ngIf="nested.iconImage; else nestedDefaultIcon">
                                            <img
                                            [src]="getImageSrc(nested.iconImage)"
                                            [alt]="nested.imageAltText || nested.categoryName"
                                            class="icon-img"
                                            />
                                        </ng-container>
                                        <ng-template #nestedDefaultIcon>
                                            <i class="icon material-icons md-folder"></i>
                                        </ng-template>
                                        <span class="text">{{ nested.categoryName }} <span *ngIf="cat.productCount>0">({{ nested.productCount }})</span></span>
                                    </a>
                                    </div>
                                </div>
                                <a 
                                    *ngIf="!sub.children?.length" 
                                    [routerLink]="['/shop/category',sub.id]" 
                                >
                                    <ng-container *ngIf="sub.iconImage; else subDefaultIcon2">
                                        <img
                                            [src]="getImageSrc(sub.iconImage)"
                                            [alt]="sub.imageAltText || sub.categoryName"
                                            class="icon-img"
                                        />
                                    </ng-container>
                                    <ng-template #subDefaultIcon2>
                                        <i class="icon material-icons md-folder"></i>
                                    </ng-template>
                                        <span class="text">{{ sub.categoryName }} <span *ngIf="cat.productCount>0">({{ sub.productCount }})</span></span>
                                </a>
                            </ng-container>
                        </div>
                    </li>
                </ng-container>
            </ul>
       </nav>
    </aside>
