.btn-icon {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.btn-icon:hover {
  background-color: rgba(108, 117, 125, 0.15);
}
.btn-icon:focus {
  box-shadow: none;
}

.btn{
  background-color: var(--primary-color);
}

.menu-aside .menu-item.active .menu-link {
    background-color: var(--primary-color-light)
}
