
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/morzaa/Transparent-logo.png" class="logo" alt="morzaa logo" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize" (click)="toggleAsideMini()"><i class="material-icons md-menu_open"></i></button>
            </div>
        </div>

       <nav>
            <ul class="menu-aside">
                <ng-container *ngFor="let cat of categoryTree">
                    <li class="menu-item" [class.has-submenu]="cat.children && cat.children.length > 0">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-folder"></i>
                            <span class="text">{{ cat.categoryName }}</span>
                        </a>
                        <div class="submenu" *ngIf="cat.children && cat.children.length > 0">
                            <ng-container *ngFor="let sub of cat.children">
                                <div *ngIf="sub.children && sub.children.length > 0" class="submenu-group has-submenu">
                                    <a href="#" class="submenu-toggle">{{ sub.categoryName }}</a>
                                    <div class="submenu-nested">
                                    <a *ngFor="let nested of sub.children" href="#">{{ nested.categoryName }}</a>
                                    </div>
                                </div>
                                <a *ngIf="!sub.children?.length" href="#">{{ sub.categoryName }}</a>
                            </ng-container>
                        </div>
                    </li>
                </ng-container>
            </ul>
       </nav>
    </aside>
